html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: #708090;
    color: white;
}

header {
    background-color: black;
    width: 100%;
    text-align: center;
}

form {
    background-color: darkgreen;
}

input {
    border: 3px solid black;
    padding: 10px 20px;
    border-radius: 25px;
}

h1, h2, h3 {
   margin: 0;
   padding: 10px;
}

select {
    border: none;
    background-color: #4682B4;
    border-radius: 25px;
    padding: 3px;
}

.results {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
}

.result-item {
    color: black;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    align-items: center;
    padding: 10px;
    margin: 5px 0 5px 0;
    width: 100%;
    background-color: white;
    border-radius: 25px;

    /* justify-content: space-between; */
}

.text {
    width: 100%;
    margin-left: 3%;
    background-color: cyan;
}

p {
    font-weight: bold;
}

button {
    border: none;
    background-color: #4682B4;
    padding: 10px 20px;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
}

.icon {
    height: 50px;
    width: 50px;
    align-self: flex-end;
}

.icon:hover {
    opacity: 0.5
}

.thumbnail {
    width: 20%;
    height: auto
}

.list {
    background-color: palegreen;
    width: 80%;
}

.added {
    background-color: white;
    border-radius: 25px;
}

#custom-list {
    color: black;
}

#qty {
    width: 10%; 

}