/* general */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: #EDECEC;
    color: black;
}

header {
    background-color: #33393D;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    /* border: 5px solid #2F4F4F; */
}

/* headers */
h1, h2, h3 {
    margin: 0 5px 5px 5px;
 }

h1 {
    color: white;
    font-size: calc(16px + 3vw);
}

h2 {
    font-size: calc(14px + 2vw);
    margin-top: 10px;
}

h3 {
    font-size: calc(12px + 1vw);
    margin: 5px 5px 5px 5px;
}

h4 {
    text-transform: uppercase;
    font-size: calc(10px + 1vw);
    margin-bottom: 5px; 
}

button {
    border: none;
    background-color: #00274C;
    padding: 10px 20px;
    height: 40px;
    width: 150px;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 5px#000;
}

input {
    box-shadow: 0 0 10px#282828;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    background-color: ;
}

select {
    border: none;
    background-color: #33393D;
    color: white;
    border-radius: 25px;
    padding: 3px;
    margin: 5px;
    box-shadow: 0 0 5px#000;
}

/* text inside next buttons */
a {
    text-decoration: none;
    color: white;
}

.next {
    display: none;
    margin: 15px;
}

p {
    font-weight: bold;
}

.space {
    height: 150px; 
    display: none;   
}

/* https://www.w3schools.com/css/css_overflow.asp */
/* list of search results */
.results {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
    width: 80%;
    max-height: 450px;
    overflow-y: scroll;
}

.result-item {
    color: black;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    align-items: center;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    text-align: left;
    box-shadow: 0 0 5px#000;
}

/* words inside each result */
.text {
    width: 100%;
    margin-left: 3%;
}

/* icon side result */
.icon {
    height: 50px;
    width: 50px;
    align-self: flex-end;
}

.icon:hover {
    opacity: 0.5
}

.thumbnail {
    width: 20%;
    height: auto;
}

/* custom list */
.list {
    width: 100%;
    margin: 10px 0 10px 0;
}

.added {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0; 
    padding: 10px;
    box-shadow: 0 0 5px#000;
}

.carb-amount {
    font-weight: bold;
}

.added p {
    margin: 0;
}

.total-carbs {
    background-color: #FFCB05;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    font-weight: bold;
    color: black;
    margin: 5px auto;
    width: 80%;
}

.insulin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
}

.insulin p {
    background-color: white;
    color: black;
    /* border: 3px solid black; */
    border-radius: 25px;
    padding: 7px 20px;
    margin: 5px 5px 5px 0px;
    font-weight: 300;
    width: 15px;
    text-align: center;
}

.carbo {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: flex-start;
}

#main {
    margin-top: 50px;
}
#one {
    display: none;
    width: 100%;
}

#two {
    display: none;
}

#search-section {
    display: flex;
    flex-flow: column nowrap;
}

#search {
    margin: 5px 0 5px 0;
}

#custom-list {
    color: black;
    width: 80%;
    margin: 0 auto;
}

#insulin-to-carb {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    height: 150px;
    justify-content: center;
    margin: 0 auto;
}

#qty[type="number"]{
    /* width: 20px;   */
    margin: 10px 0 10px 0;
}

#carb[type=number]{
    margin: 5px 0 5px 0;
    text-align: center;
}

#submit {
    margin: 15px;
}

#calculate {
    margin-top: 15px;
}

#units {
    width: 80%;
    margin: 0 auto;
}

#units div {
    background-color: #FFCB05;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    font-weight: bold;
    color: black;
}

@media only screen and (min-width: 600px) {
    .space {
        display: block;    
    }

    button {
        box-shadow: none;
    }

    button:hover {
        box-shadow: 0 0 5px#000;
    }

    input {
        box-shadow: none;
        border: 1px solid gray;
    }

    input:hover {
        box-shadow: 0 0 10px#282828;

    }

    .result-item {
        height: 100px;
    }

    .thumbnail {
        max-height: 100px;
        width: auto;
    }
    .next {
        margin-bottom: 100px;
    }
    .insulin {
        width: 45%;
    }

    .carbo {
        width: 55%;
    }

    #two {
        width: 100%;
    }
}