html, body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: #708090;
    color: black;
}

header {
    background-color: black;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

input {
    box-shadow: 0 0 10px#282828;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
}

/* input:hover {
    box-shadow: 0 0 10px#282828;
} */

h1, h2, h3 {
   margin: 5px;
   padding: 10px;
}

h1 {
    color: white;
}
/* h2 {
    background-color: palevioletred;
} */

/* h3 { background-color: purple;} */

select {
    border: none;
    background-color: #4682B4;
    border-radius: 25px;
    padding: 3px;
    margin: 5px;
}

/* https://www.w3schools.com/css/css_overflow.asp */
.results {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    width: 80%;
    max-height: 450px;
    overflow-y: scroll;
}

.result-item {
    color: black;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    align-items: center;
    padding: 10px;
    margin: 5px 0 5px 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align: left;
    /* justify-content: space-between; */
}

.text {
    width: 100%;
    margin-left: 3%;
}

p {
    font-weight: bold;
}

#search-section {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    background-color: #2F4F4F;
    padding: 10px 20px;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 5px#000;
}

a {
    text-decoration: none;
    color: white;
}

/* button:hover {
    box-shadow: 0 0 5px#000;
} */

.icon {
    height: 50px;
    width: 50px;
    align-self: flex-end;
}

.icon:hover {
    opacity: 0.5
}

.thumbnail {
    width: 20%;
    height: auto
}

.list {
    width: 100%;
}

.carb-amount {
    font-weight: bold;
}

.added {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0 5px 0; 
    padding: 10px;
}

.added p {
    margin: 0;
}

.next {
    display: none;
    margin: 15px;
}

.total-carbs {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    font-weight: bold;
}

.insulin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
}

.insulin p {
    background-color: white;
    color: black;
    /* border: 3px solid black; */
    border-radius: 25px;
    padding: 7px 20px;
    margin: 5px 5px 5px 0px;
    font-weight: 300;
    width: 15px;
    text-align: center;
}

.carbo {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: flex-start;

}

.carbo label {
    margin-top: 16px;
}

#custom-list {
    color: black;
    width: 80%;
    margin: 0 auto;
}

#insulin-to-carb {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    height: 150px;
    justify-content: center;
    margin: 0 auto;
}

#qty[type="number"]{
    /* width: 20px;   */
    margin: 5px 0 5px 0; 
}

#carb[type=number]{
    margin: 5px 0 5px 0;
    text-align: center;
}

#submit {
    margin: 15px;
}

#search {
    margin: 5px 0 5px 0;
}

#calculate {
    margin: 20px auto;
}

#units {
    width: 80%;
}

#units div {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    font-weight: bold;
}

#one {
    display: none;
}

#two {
    display: none;
}